
 
 <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='./img/k1.jpg'>
          <div class="card-body">
            <h5 class="card-title">
              <%=@name%>
            </h5>
            <p class="card-text">
              <%=@des%>
            </p>
            <a href="#" class="btn btn-primary">
              <%=@price%>
            </a>
          </div>
      </div>
