<% @str2.each do |x| %>
 <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%=x.photo%>" width="30" height="200">
          <div class="card-body">
            <h5 class="card-title">
              <%=x.name%>
            </h5>
            <p class="card-text hidden">
              <%=x.description%>
            </p>
            <a href="#" class="btn btn-primary">
              <%=x.price%>
            </a>
          </div>
      </div>
  <% end %>